html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.react-tabs__tab-list {
  display: flex;
  background: white;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

.react-tabs__tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.react-tabs__tab:hover {
  background-color: #f5f8ff;
}

.react-tabs__tab--selected {
  border-bottom: 3px solid #4690fd;
  color: #4690fd;
  font-weight: bold;
  background-color: #eaf2ff;
}

.react-tabs__tab-panel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.tab-content {
  flex: 1;
  overflow-y: auto;
}
