.team {
  width: 45%;
  padding: 10px;
  margin-bottom: 10px;
}

.team-averages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.team-players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
}

.team-item {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
